@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");

@layer base {
	body {
		font-family: "Manrope", sans-serif;
	}
}

@utility font-extrabold {
	font-weight: 800;
}

@utility font-bold {
	font-weight: 700;
}

@utility font-medium {
	font-weight: 500;
}

@utility font-regular {
	font-weight: 400;
}

@theme {
	--color-background-primary: oklch(12.9% 0.042 264.695);
	--color-background-base: oklch(98.4% 0.003 247.858);
	--color-deep-neutral: oklch(20.8% 0.042 265.755);
	--color-muted-text: oklch(55.4% 0.046 257.417);

	--color-action-blue: oklch(62.3% 0.214 259.815);
	--color-action-red: oklch(69.6% 0.17 162.48);
	--color-action-orange: oklch(76.9% 0.188 70.08);
	--color-action-red: oklch(64.5% 0.246 16.439);
}
